
#menu_selected {
    background-color: #151515;

}




.navbar {
    position: absolute;
    top:20px;
    left: 10%;
    right: 10%;
    height: 100px;
    background-color: #1e1e1e;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 100px;
}



.navbar li {
    float: right;
    height: 100px;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #70efde;
    padding-top: 35px;
    user-select: none;
    
}
.navbar li:hover{
    background-color: #1a1a1a;
    cursor: pointer;
}
