

body {
    background-color: #121212;
    height: 2000px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}







.navbar {
    position: absolute;
    top:20px;
    left: 10%;
    right: 10%;
    height: 100px;
    background-color: #1e1e1e;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 100px;
}
.navbar li {
    float: right;
    height: 100px;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: #70efde;
    padding-top: 35px;
    user-select: none;
}
.navbar li:hover{
    background-color: #1a1a1a;
    cursor: pointer;
}


.projects {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    row-gap: 50px;

    padding-top: 50px;

    position: absolute;
    top: 200px;
    left: 10%;
    right: 10%;


}


.project {
    text-align: center;
    color: white;
    background-color: #1e1e1e;
    height: 400px;
    width: auto;
    border-radius: 50px;
    box-shadow: #080808 5px 8px 24px;
    transition: all ease-in-out 100ms;
}

.project::before {
    position: absolute;
    background-image: url("images/GameOfLife.svg");
    background-size: 200px 200px;
    display: inline-block;
    width: 200px; 
    height: 200px;
    content:"";
    margin-left: -70px;
    margin-top: 25px;
    filter:blur(2px);
    transition: all ease-in-out 100ms;
       
}

.project:hover {
    transform: translate3d(-2px, -5px, 0px);
    box-shadow: #000000 5px 14px 28px;
}
.project:hover::before{
    filter:blur(0px);
}