body {
    background-color: #121212;
    height: 2000px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

h1{
    font-size: 100px;
    font-family: Calibri;
    font-weight: bolder;
    color: #c38fff;
    letter-spacing: 10px;
    position: absolute;
    left: 5%;
}

.content{
    background-color: #f9f4ff;
    position: absolute;
    left: 10%;
    top: 250px;
    width: 75%;
    height: 1000px;
    margin-top: 200px;
    border-radius: 100px;
}

.download_button{
    width: 150px;
    height: 40px;
    background-color: #c38fff;
    border-radius: 100px;
    border-width: 0px;
    color: #f9f4ff;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
    padding-left: 35px;
}

.download_button::before{
    background: url("images/download.svg");
    position: absolute;
    background-size: 25px 25px;
    width: 25px; 
    height: 25px;
    content:"";
    margin-left: -30px;
}